body {
  font-size: 16px;
}

.footer_bottom {
  background-color: #3498ff;
  padding: 20px 0px 0px;
}
.footer_bottom .item {
  color: #fff;
  padding-bottom: 30px;
}

.footer_bottom .item .text {
  color: #fff;
}
.footer_bottom .text {
  font-size: 16px;
  line-height: 25px;
}
.footer_bottom .item .fa {
  padding-right: 10px;
}
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/images/background.jpg");
}
.login-form {
}
.error-input,
.error-input:hover,
.error-input:focus {
  border: 2px solid red !important;
  border-right-width: 2px !important;
  box-shadow: none !important;
}
.ant-picker-calendar-header .ant-picker-calendar-mode-switch {
  display: none;
}
.custom-date {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 4px 8px 0;
}

.da_diem_danh {
  background-color: #71b671;
}

.da_diem_danh .ant-picker-calendar-date-value {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --antd-wave-shadow-color: #1890ff;
  --scroll-bar: 0;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  text-align: right;
  border-collapse: collapse;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 400;
  box-sizing: border-box;
  line-height: 24px;
  transition: color 0.3s;
}

.ant-picker-calendar-full
  .ant-picker-panel
  .ant-picker-cell-selected
  .ant-picker-calendar-date {
  background-color: transparent;
}
.ant-picker-calendar-full
  .ant-picker-panel
  .ant-picker-cell-selected
  .ant-picker-calendar-date
  .ant-picker-calendar-date-value {
  color: rgba(0, 0, 0, 0.65);
}
.ant-tabs-nav-list button:focus {
  outline: none;
}
